extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius massa sed pharetra posuere. Ut eu gravida magna. Quisque non varius massa. Nulla egestas fringilla ipsum, non blandit risus gravida a. Sed posuere congue tortor, nec tempus nisi varius vitae. Maecenas eu vestibulum sem, consequat tempor odio.

                p Sed nec sollicitudin tortor. Vivamus dictum leo eu condimentum volutpat. Donec porta lobortis orci et cursus. Suspendisse dictum tincidunt ex in consequat. Praesent dapibus convallis mattis. Nunc varius orci eu erat ullamcorper venenatis. Proin a dignissim tellus. Pellentesque imperdiet risus commodo placerat dapibus.

                p Vestibulum mollis lectus libero, sit amet fringilla dolor sagittis eget. Quisque a finibus neque, et ornare eros. Phasellus vehicula, neque et sodales interdum, purus mi aliquam orci, vel fermentum nisl lorem et felis. Donec ut ullamcorper est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar dictum maximus. Ut egestas lorem ut massa gravida, quis rutrum tellus fermentum. Sed tincidunt ipsum eget leo laoreet rutrum. In hac habitasse platea dictumst. Donec vitae sapien in enim mattis gravida pretium at sem. Phasellus dignissim sem in ligula sollicitudin, vel maximus massa porta. Pellentesque vulputate porttitor lobortis. Donec vel gravida massa. Aliquam eu turpis at lectus imperdiet tempus. Sed suscipit sem ac ullamcorper tristique.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p  estibulum mollis lectus libero, sit amet fringilla dolor sagittis eget. Quisque a finibus neque, et ornare eros. Phasellus vehicula, neque et sodales interdum, purus mi aliquam orci, vel fermentum nisl lorem et felis. Donec ut ullamcorper est. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p  estibulum mollis lectus libero, sit amet fringilla dolor sagittis eget. Quisque a finibus neque, et ornare eros. Phasellus vehicula, neque et sodales interdum, purus mi aliquam orci, vel fermentum nisl lorem et felis. Donec ut ullamcorper est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p  estibulum mollis lectus libero, sit amet fringilla dolor sagittis eget. Quisque a finibus neque, et ornare eros. Phasellus vehicula, neque et sodales interdum, purus mi aliquam orci, vel fermentum nisl lorem et felis. Donec ut ullamcorper est. Lorem ipsum dolor sit amet, consectetur adipiscing elit.                                
